#rakugaki(style='positioin:absolute; top: 0; left: 0; height: 500px; width: 1000px')
script(src='/javascripts/jquery.min.js')
!= socketIOIncludeTag(settings['socket.io']['host'])
script(src='/javascripts/rakugaki.js')
