#rakugaki(style='positioin:absolute; top: 0; left: 0; height: 5000px; width: 1100px')
script(src='/javascripts/jquery.min.js')
!= socketIOIncludeTag(settings['socket.io']['host'])
script(src='/javascripts/rakugaki.js')
